ul {
    li {
        a {
            &:hover {
                color: red;
                font-weight: bold;
                transition: 0.5 ease-in;
                transform: rotate(180deg);
            }
        }
    }
}
#mail {
        a {
            color: white !important;
    }
}
p#txt-mail {
color: white !important;
}