@tailwind base;
@tailwind components;
@tailwind utilities;


.banner {
    border-bottom: solid black;
}

#container {
    width: 50%;
}

@media (max-width: 768px) {
    #container {
        width: 90%;
    }
    #card-place {
        flex-direction: column;
    }
    #card {
        width: 100%;
        margin-bottom: 10px;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Planer-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@keyframes gradientBackgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.footer-background {
    background: linear-gradient(270deg, #a384ec, #38B2AC, #de8484, #36edcb);
    background-size: 800% 800%;
    animation: gradientBackgroundAnimation 30s ease infinite;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
footer .footer-heading {
    font-family: 'Planer', sans-serif;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.4px;
    color: #fbfbfb;
    margin-bottom: 0.75rem;
}
.footer-link {
    color: #fbfbfb;
    display: inline-flex;
    align-items: center;
    font-family: 'Planer', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 2;
    transition: transform 0.3s ease, text-decoration 0.3s ease;
}
.footer-link:hover {
    transform: translateX(5px);
    color: #fbfbfb;
}

.arrow {
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
}

@media (max-width: 640px) {
    .footer-background {
        padding: 20px;
    }

    .footer-heading {
        font-size: 0.75rem;
    }

    .footer-link {
        font-size: 0.9rem;
    }
}

@media (min-width: 640px) {
    .footer-heading {
        font-size: 0.85rem;
    }

    .footer-link {
        font-size: 1rem;
    }
}




.container {
    display: flex;
    flex-direction: column; /* Siguron që përmbajtja të jetë vertikale */
    align-items: center; /* Qendron përmbajtjen vertikalisht */
    margin: auto;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #000000;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 150px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:33px;
    padding: 0 90px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container .box-container .box img{
    height: 120px;
    width: 100%; /* Siguron që gjerësia ruan përmasat */
    max-width: 100%; /* Kufizon gjerësinë që të mos jetë më e madhe se kutia */
    object-fit: contain; /* Përshtat imazhin brenda kutisë pa deformim */
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15 px rgba (0,0,0,.3);
    transform: scale(1.02);
}



@media screen and (max-width: 480px) {
    .container .box-container {
        grid-template-columns: 1fr; /* Një kolonë për ekrane shumë të vogla */
        gap: 25px; /* Redukto hapësirën */
    }

    .container .heading {
        font-size: 30px; /* Zvogëlo madhësinë e titullit për ekranet e vogla */
    }
}

@media screen and (max-width: 550px) {
    .container .box-container {
        grid-template-columns: 1fr; /* Tregon që çdo kuti të shfaqet në një rresht */
        gap: 20px; /* Redukto hapësirën mes kutive */
        padding: 0 10px; /* Ul padding për të rritur hapësirën efektive */
    }

    .container .heading {
        font-size: 30px; /* Zvogëlo madhësinë e titullit */
    }
}


@media screen and (max-width: 577px) {
    .container .box-container {
        grid-template-columns: 1fr; /* Tregon që çdo kuti të jetë në një rresht */
        gap: 20px; /* Hapësirë më e vogël mes kutive */
        padding: 0 10px; /* Redukto padding për të shfrytëzuar më shumë hapësirë */
    }

    .container .heading {
        font-size: 40px; /* Zvogëlo madhësinë e titullit për gjerësinë 577px */
    }
}

@media screen and (max-width: 779px) {
    .container .box-container {
        grid-template-columns: repeat(2, 1fr); /* Tregon që të shfaqen dy kolona */
        gap: 20px; /* Hapësirë ndërmjet kutive */
        padding: 0 10px; /* Ul padding për të shfrytëzuar më shumë hapësirë */
    }

    .container .heading {
        font-size: 35px; /* Rregullo madhësinë e titullit për këtë madhësi ekrani */
    }
}








