@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none !important;
}


html {
    scroll-behavior: smooth;
}
#logo{
    filter: brightness(0);
}
.banner {
    border-bottom: solid black;
}

#container {
    width: 50%;
}

@media (max-width: 768px) {
    #container {
        width: 90%;
    }
    #card-place {
        flex-direction: column;
    }
    #card {
        width: 100%;
        margin-bottom: 10px;
    }
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('/fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'),
         url('/fonts/roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'),
         url('/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'),
         url('/fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'),
         url('/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'),
         url('/fonts/roboto/Roboto-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'),
         url('/fonts/roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'),
         url('/fonts/roboto/Roboto-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'),
         url('/fonts/roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'),
         url('/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'),
         url('/fonts/roboto/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'),
         url('/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
.title {
    font-family: 'Roboto', sans-serif;
}
.myBox{
    padding: 3rem 2rem;
    width: 33%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.3s ease-in all;
    top: 0;
    margin: 24px 0px 0px 16px;
}
.myBox:nth-child(1){
    background-color: #e5fbfd;
}
.myBox:nth-child(2){
    background-color: #fdf6e5;
}
.myBox:nth-child(3){
    background-color: #f0ffee;
}
.myBox img{
    margin-top: -7.5rem;
}
.myBox:hover{
    top: -1rem;
}
@media (max-width: 768px) {

    .mobile-app-text {
        font-size: 2.4rem;
    }

    .myBox img {
        margin-top: -4.5rem;
    }

    #box-container {
        flex-direction: column;
        align-items: center;
    }

    #box {
        width: 90%;
    }

}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    margin-top: 32px;
}

.swiper-slide.swiper-slide-active {
    border-color: rgb(255 240 31 / var(--tw-border-opacity)) !important;
}
#map{
    z-index: 0;
}

::-webkit-scrollbar {
    width: 8px; /* Thin vertical scrollbar */
    height: 8px; /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background */
    border-radius: 10px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
    background: #d1d5db; /* Gray thumb */
    border-radius: 10px; /* Rounded thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa; /* Darker gray on hover */
}

#my-qr-reader__scan_region img {
    width: 100%;
    max-width: 170px;
    height: auto;
}
@media (max-width: 430px) {
    #my-qr-reader__scan_region img {
        max-width: 100px;
    }
}
